@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "primary";
    src: url("../assets/font-1.woff2");
}

@font-face {
    font-family: "secondary";
    src: url("../assets/font-2.woff2");
}

body {
    scroll-behavior: smooth;
}


.background {
    z-index: 20;
    background: url("../media/background_hero.avif");
    background-attachment: scroll;
}

@media screen and (max-width: 1024px) {
    .background {
        background-position: 65% 40%;
    }

    .delivery {
        background: url("../media/packaging.avif");
        background-repeat: no-repeat;
        background-size: 100vw 40vh !important;
        background-position: 40% 100%;
    }
}


::-webkit-scrollbar {
    display: none;
}

.bg1 {
    background: url("../media/chicken.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background: url("../media/2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    background: url("../media/frenchfries.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.delivery {
    background: url("../media/packaging.avif");
    background-repeat: no-repeat;
    background-size: 50vw 40vh;
    background-position: 20% 100%;
}

.fade-in {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}