.menu-heading {
  height: 400px;
  background: url("/menu_bg1.jpg") center center / cover no-repeat;
}
.menu-header-text {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  background: transparent;
  margin-left: 60px;
  color: white;
}

.menu-subheading {
  font-weight: 600;
  font-size: 30px;

}

.sidebar {
  padding: 20px 30px;
  overflow-y: auto;

  h1 {
    color: #f36969;
  }
}


.menu-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 19px;
  transition: all .2s;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.list-container {
  margin-top: 20px;
}

.menu-content {
  background: wheat;
}

.menu-item:hover {
  background-color: #f36969;
  color: wheat;
}

.menu-item:hover, .menu-item:hover a {
  color: wheat;
}

.menu-item a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 700;
}